.App {
  text-align: center;
  justify-content: flex-start;
  /*display: flex;*/
  flex-direction: column;
  /*columns: 250px 3;*/
}

#check-logo {
  width: 60px;
  height: 70px;
  align-self: center;
}

#current-events {
  display: grid;
  justify-content: center;
  grid-template: 750px / auto auto auto;
  /*columns: 250px 3;*/
}

.App-header {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*.App-title {
  font-size: 1.5em;
}*/

.App-intro {
  font-size: large;
}

