.App {
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

#check-logo {
  width: 60px;
  height: 70px;
  align-self: center;
}

#current-events {
  display: flex;
  justify-content: center;
}

.App-header {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
