.App {
  text-align: center;
  justify-content: flex-start;
  /*display: flex;*/
  flex-direction: column;
  /*columns: 250px 3;*/
}

#check-logo {
  width: 50px;
  height: 60px;
  align-self: center;
  cursor: pointer;
}

#current-events {
  display: grid;
  justify-content: center;
  grid-template: 350px / auto auto auto;
  /*columns: 250px 3;*/
}

.App-header {
  background: linear-gradient(to right, #3980b9, #6dd5fa, #b5ebff);
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*.App-title {
  font-size: 1.5em;
}*/

.App-intro {
  font-size: large;
}

