#createEventButton {
   margin-top: 50px;
   border: 1px solid #adadad;
   font-size: 30px;
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 30px;
   background: #00b4db;
   color: white;
}

#createEventButton:hover {
	background: white;
    color: #00b4db;
}